In [1]:
x="gabri"
print(type(x))

<class 'str'>

In [3]:
x="gabri"
print(x[2])

b

In [4]:
x="gabri"
print(x[:])

gabri

In [5]:
x="gabri"
print(x[0:3])

gab

In [8]:
x="gabri"
print(x[0:3:2])

gr

In [9]:
x="gabri"
print(x[4:1:-1])

irb

In [11]:
x="india"
for i in x:
    print(i)

i
n
d
i
a

In [12]:
x="india"
for i in range(0,len(x)):
    print(i)

0
1
2
3
4

In [13]:
x="india"
for i in x:
    print(i,end='')

india

In [16]:
x="india"
y="chennai"
z=x+y
print(z)
z=x*3
print(z)

indiachennai
indiaindiaindia

In [24]:
x=(input("enter a string"))
count=0
for i in x:
    if i=='a':
        count=count+1
print(count

SyntaxError: unexpected EOF while parsing (<ipython-input-24-0c3c414cf6f5>, line 6)

In [ ]:
x=input("enter a string")
y=x[::-1]
if x==y:
    print("palindrome")
else:
    print("not palindrome")

In [5]:
x=int(input("enter the number"))
for i in range(1,x+1):
    print(i*'*')

enter the number5
*
**
***
****
*****

In [7]:
x=()
print(type(x))

<class 'tuple'>

In [8]:
x=(1,"gabri",100)
print(x)

(1, 'gabri', 100)

In [11]:
x=(1,"gabri",100)
print(x[1][2])

b

In [12]:
x=(1,"gabri",100)
x[0]=10
print(x)

TypeError: 'tuple' object does not support item assignment

In [13]:
x=[]
print(type(x))

<class 'list'>

In [14]:
x=[1,'gabri','chennai']
x[2]='delhi'
print(x)

[1, 'gabri', 'delhi']

In [15]:
l=[1,2,3]
l.append("india")
print(l)

[1, 2, 3, 'india']

In [16]:
l1=[1,2,3]
l2=["india","chennai"]
l1.extend(l2)
print(l1)

[1, 2, 3, 'india', 'chennai']

In [18]:
l1=[1,2,3,["gab","ri"]]
l2=["india","chennai"]
l1[3].extend(l2)
print(l1)

[1, 2, 3, ['gab', 'ri', 'india', 'chennai']]

In [19]:
l=[1,2,3,4]
l.pop(2)
print(l)

[1, 2, 4]

In [20]:
l=[1,2,3,4]
l.remove(3)
print(l)

[1, 2, 4]

In [21]:
x='india'
y=list(x)
print(y)

['i', 'n', 'd', 'i', 'a']

In [22]:
y=['i','n','d']
x=''.join(y)
print(x)

ind

In [26]:
x="india is good"
y=x.split(' ')
print(y)

['india', 'is', 'good']

exercise

In [ ]:
x=[1,2,3,4,5,9,10]
x1=[]
for i in x:
    if i%2==0:
        x.append(i)
print(x1)

In [ ]:
x=[1,2,3,4,5,9,10]
x1=[]
for i in x:
    if i%2==0:
        x.append(i)
print(x1)

In [4]:
x=input("enter a string")
len(x)
for i in range(0,len(x)):
    y=x[0:2]
    z=x[:]
    a=y+z
print(a)

enter a stringga
gaga

In [5]:
d={}
print(type(d))

<class 'dict'>

In [6]:
d={1:'a',2:'b',10:[1,2,3]}
print(d[1])

a

In [10]:
x=int(input("enter the number of students in the class"))
l=[]
d={}
for i in range(0,x):
    y=input("enter the name of the student")
    m=int(input("enter the maths marks"))
    s=int(input("enter the science marks"))
    e=int(input("enter the english marks"))
    l=[m,s,e]
    d[y]=l
print(d)

enter the number of students in the class2
enter the name of the studentgabri
enter the maths marks90
enter the science marks80
enter the english marks70
enter the name of the studentabi
enter the maths marks60
enter the science marks70
enter the english marks80
{'gabri': [90, 80, 70], 'abi': [60, 70, 80]}